@charset "UTF-8";


html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.top-buffer-s { 
    margin-top: 20px; 
}

#uni {
    /* font-size: larger; */
    font-size: 25px;
    color: #6e6d79;
    font-weight: bold;
}
#euro {
    /* font-size: larger; */
    font-size: 25px;
    color: #2b1f99;
    font-weight: bold;
}



/* line 19, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_normalize.scss */
body {
  margin: 0;
}



/* line 135, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot?1417694581);
  src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot?&1417694581#iefix) format("embedded-opentype"), url(../fonts/bootstrap/glyphicons-halflings-regular.woff2) format("woff2"), url(../fonts/bootstrap/glyphicons-halflings-regular.woff?1417694581) format("woff"), url(../fonts/bootstrap/glyphicons-halflings-regular.ttf?1417694581) format("truetype"), url(../fonts/bootstrap/glyphicons-halflings-regular.svg?1417694581#glyphicons_halflingsregular) format("svg");
}


/* line 11, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_scaffolding.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_scaffolding.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

/* line 36, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 48, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_scaffolding.scss */
a {
  font-weight: bold;
  color: #014EB7;
  text-decoration: none;
}
/* line 52, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_scaffolding.scss */
a:hover, a:focus {
  color: #012e6b;
  text-decoration: underline;
}


/* line 9, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_type.scss */
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}



/* line 47, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_type.scss */
h1, .h1 {
  font-size: 36px;
}


/* line 58, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 92, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_type.scss */
.text-center {
  text-align: center;
}

/* line 93, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_type.scss */
.text-justify {
  text-align: justify;
}



/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
.text-primary {
  color: #174372;
}

/* line 8, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
a.text-primary:hover {
  color: #0e2a48;
}



/* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 992px) {
  /* line 10, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}



/* line 14, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.row:after {
  clear: both;
}




@media (min-width: 1200px) {
  /* line 27, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }


  /* line 35, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 50, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }


  /* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

}


/* SERVE */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


/* line 71, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_forms.scss */
.input-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}


/* line 9, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_buttons.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* line 63, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_buttons.scss */
.btn-primary {
  color: #fff;
  background-color: #174372;
  border-color: #13375d;
}
/* line 11, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0e2a48;
  border-color: #08192a;
}
/* line 21, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}




/* line 127, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_buttons.scss */
.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}


/* line 143, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_buttons.scss */
.btn-block {
  display: block;
  width: 100%;
}

/* line 149, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.3.3/assets/stylesheets/bootstrap/_buttons.scss */
.btn-block + .btn-block {
  margin-top: 5px;
}


body {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* line 10, ../../sass/styles.scss */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* DA TENERE */
.content-block-title {                  
  border-bottom: 1px solid #777777;
}




/* line 275, ../../sass/styles.scss */
.footer {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 279, ../../sass/styles.scss */
.footer p, .footer address {
  margin: 0;
}
/* line 283, ../../sass/styles.scss */
.footer .firma {
  letter-spacing: .13em;
  font-weight: bold;
  margin-bottom: 1em;
  border-top: 2px dotted #3C3C3C;
  padding-top: 15px;
}

/* line 293, ../../sass/styles.scss */
.login-denied-page .alert, .login-denied-page .btn-primary {
  width: 60%;
  margin: 1em auto 0 auto;
}


/* line 313, ../../sass/styles.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}


/* line 328, ../../sass/styles.scss */
.content-block-title {
  width: 100%;
  font-size: 24px;
}

/* line 332, ../../sass/styles.scss */
.text {
  clear: both;
}


@media (max-width: 900px) {
  /* line 420, ../../sass/styles.scss */
  #unimia-container {
    width: 100%;
  }

  /* line 423, ../../sass/styles.scss */
  .corpo-centrale {
    padding: 0 1em;
  }

  /* line 426, ../../sass/styles.scss */
  .logo-container {
    width: 100%;
    border-top: 8px solid #c6c6c6;
    padding: 1em;
  }
}
@media (min-width: 901px) {

  /* line 438, ../../sass/styles.scss */
  .logo-container {
    max-width: 900px !important;
    border-top: 8px solid #c6c6c6;
    padding: 1em 0 !important;
  }
}


/* SERVE*/
.colonna-centrale {
  padding-left: 20px !important;
  padding-right: 20px !important;
}



/* line 475, ../../sass/styles.scss */
#footer ul {
  padding-left: 10px;
}
/* line 478, ../../sass/styles.scss */
#footer li {
  color: #333;
  display: inline;
  margin: 0 6px 0 0;
  padding: 4px 4px;
  font-size: 9px;
}
/* line 484, ../../sass/styles.scss */
#footer li a {
  color: #575757;
  font-weight: bold;
}
